
*{
    box-sizing: border-box;
}
h3{
    color: darkcyan;
}
p{
    margin: 10px;
}
li{
    list-style-type: none;
    color:  rgb(189, 185, 185);;
    margin: 10px;
}
.three-sections{
    display: flex;
    text-align: center;
     }
 .three-sections-title{
    text-align: center;
    margin: 40px;
    color: darkcyan;
    text-transform: uppercase;
    }

.first{
    background-color: white;
    background-size: cover;
    width: 20%;
    height: 300px;
    margin:25px 35px 25px 180px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(54, 54, 105, 0.3);

}
.second{
    background-color: white;
    background-size: cover;
    width: 20%;
    width: 300px;
    margin:25px 35px 25px 35px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(54, 54, 105, 0.3);

}
.third{
    background-color: white;
    background-size: cover;
    width: 20%;
    width: 300px;
    margin:25px 35px 25px 35px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(54, 54, 105, 0.3);
}
.more-facts{
    text-align: center;
}
.more-images button{
  width: 100px;
  height: 30px;
  margin: 20px;
}
.our-gallery{
    color: darkcyan;

}
.our-gallery h1{
    text-align: center;
    margin: 40px;
    color: darkcyan;
}
.gallery-border{
    display: flex;
    flex-wrap: wrap-reverse;
    margin: auto;
    margin-left: 180px;
}
.gallery-images img{
    width: 250px;
    height: 250px;
    transition: 0.45s;
    align-items: center;
    padding: 5px;
}
img:hover {
  transition: 0.40s;
  transform: rotate(15deg);
} 
.footer{
    width: 100%;
    height: 500px;
    background-color: rgb(20, 21, 31);
    color: rgb(163, 160, 160);
    text-align: center;
    margin-top: 40px;
}
.social-medias img{
    text-align: center;
    margin-left: 30px;
    margin-bottom: 25px;
}
.footers{
    display: flex;
}
.footer-first {
    width: 20%;
    text-align: center;
    margin-left: 30px;
    margin-right: 80px;
    margin-top: -50px;
    font-size: 14px;
    height: 380px;
    border-style: solid;
}
.footer-second {
width: 20%;
text-align: left;
margin-left: 30px;
}

.footer-third {
    width: 20%;
    text-align: left;
    margin-left: 30px;
    }
    .footer-forth{
        width: 20%;
        text-align: left;
        margin-left: 30px   
    }
    @media screen and (max-width: 960px){
        .gallery-images img{
            flex: 33.33%;
        }   
    }
    @media screen and (max-width: 768px){
        .gallery-images img{
            flex: 50%;
        }   
    }
    @media screen and (max-width: 480px){
        .gallery-images img{
            flex: 100%;
        }   
    }